<!DOCTYPE HTML>
<html lang="en">
  <head>
    {{ partial "header.html" . }}
  </head>
  <body>
    <div class="row gallery-header">
      <div class="three columns title">
        <span><a id="home" href="/">len.to</a></span>
      </div>
    </div>
    <div class="row">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "in" "img") 24}}

      {{ partial "gallery.html" $paginator.Pages }}

      <div class="gallery-pagination u-pull-right">
        {{ if $paginator.HasNext }}
          {{ if $paginator.HasPrev }}
            <a id="pagination-prev" class="pagination-item" href="{{ $paginator.Prev.URL }}">back</a>
          {{ end }}
          <a id="pagination-next" class="pagination-item" href="{{ $paginator.Next.URL }}">next</a>
        {{ else }}
          fin
        {{ end }}
      </div>

    </div> <!-- row -->
    {{ partial "footer.html" . }}
  </body>
</html>
