html, body {
  color: #404040;
  font-size: 10pt;
}

a {
  color: #404040;
}

img {
  box-sizing: border-box; 
  border-radius: 4px;
  max-width: 100%;
  margin-bottom: 0.3em;
  opacity: 0.9;
}

li {
  margin-bottom: 0;
}

h1, h2, h3, h4 h5 {
  font-size: 1.3em;
}

p {
  margin-bottom: 0;
}

pre {
  margin: 1em;
}

footer {
  margin-top: 1em;
}

.container {
  padding-left: 1.6em;
  margin: 0;
}

.title {
  display: block;
  font-size: 1.6rem;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
}

.left-side {
}

.hidden {
  display: none;
}

#toggle-btn {
  cursor: pointer;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

ul.tags {
  margin-top: 1em;
}
ul.tag-posts > li.short {
}
ul.tag-posts > li.long {
  list-style-type: none;
  margin-bottom: 2.5em;
}

.right-side {
  font-size: 1.3em;
}

.pagination {
  margin-top: 2em;
  margin-bottom: 2em;
}

.pagination-item {
  padding-left: 0.8em;
}

.permalink {
  text-decoration: none;
}

@media (min-width: 550px) {
}
