<!DOCTYPE HTML>
<html>
  <head>
    {{ partial "header.html" . }}
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="three columns">
          <a class="title" href="/">len.to</a>
        </div>
      </div>

      <div class="row">
        {{ partial "heatmap.html" . }}
      </div>


      <div class="row">
        {{ $m := dict }}
        {{ range sort (where .Site.RegularPages "Type" "in" "img") ".Date" "asc" }}
          {{ $key := .Date.Format "Monday" }}
          {{ $val := int (index $m $key) }}
          {{ if eq $val 0 }}
            {{ $x := dict $key 1 }}
            {{ $m = merge $m $x}}
          {{ else }}
            {{ $x := dict $key (add $val 1) }}
            {{ $m = merge $m $x}}
          {{ end }}
        {{ end }}

        <ul>
        {{ range $day, $count := $m }}
          <li>{{$day}}: {{$count}}</li>
        {{ end }}
        </ul>
      </div>

    </div>
  </body>
</html>
