html, body {
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12pt;
  font-weight: 200;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.column, .columns {
  margin-left: initial;
}

a {
  color: #404040;
  text-decoration: none;
}

img {
  box-sizing: border-box; 
  border-radius: 4px;
  max-height: 1000px;
  max-width: 100%;
  margin-bottom: 0.3em;
  opacity: 0.9;
}

li {
  list-style-type: initial;
  margin-bottom: 0;
}

h1, h2, h3, h4 h5 {
  font-size: 1.3em;
  letter-spacing: initial;
}

p {
  margin-bottom: 0;
}

pre {
  margin: 1em;
}

footer {
  margin-top: 1em;
}


.title {
  display: block;
  font-size: 1.6rem;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
}

.code {
  border: solid 1px #dedede;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono","Courier New", monospace;
  padding: 4px;
  font-size: 11pt;
}

.left-side {
}

.left-side li {
  list-style-type: none;
  padding-bottom: .3em;
}

.hidden {
  display: none;
}

#toggle-btn {
  cursor: pointer;
  padding-right: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
}

.post-tags {
	font-size: 0.8em;
  line-height: 1.6;
}

ul.tags {
  margin-top: 1.8em;
}
ul.tags li{
  list-style-type: none;
	padding-left: 12px;
}
ul.tags div {
	margin-bottom: 10px;
}

ul.tag-posts > li.short {
  list-style-type: none;
}
ul.tag-posts > li.long {
  list-style-type: none;
  margin-bottom: 2.5em;
}

#search {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 95%;
  padding-right: 2em;
  font-size: 4em;
  text-align: right;
  background: #fff;
  opacity: 0.9;
}

#search > div:first-child {
  border-bottom: solid 1px #666;
}

.highlight {
  background: #666;
}

/* archive */
.archive {
	font-size: 0.8em;
  margin-bottom: 2em;
}

.archive .year {
  margin-bottom: 0;
}

.archive .row {
  border-bottom: solid 1px #eee;
  padding: 0em;
}

.archive .row .post-tags {
  padding: 0;
  padding-left: 2em;
}
/* end archive */

/* about */
.about li {
  list-style-type: none;
}
.about .outbound a {
  text-decoration: underline;
}
/* end about */

/* galley */
.gallery-header {
  padding-left: 1.6em;
}
.gallery {
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  column-count: 1;
  column-gap: 10px;
}
.gallery > img {
  width: 100% !important;
  height: auto !important;
}

#rotate {
  color: #404040;
  cursor: pointer;
  float: right;
  font-size: 1.5em;
  line-height:0;
  padding: 5px;
}
/* end galley */

/* log */
.log a {
  text-decoration: underline;
}
/* end log */

.right-side {
  font-size: 1.2em;
}

ul.pagination {
  display: block;
  float: right;
  font-size: 0.8em;
  padding: 1em 0em;
  margin-bottom: 3em;
}
ul.pagination li {
  display: inline-block;
}

@media (min-width: 550px) {
  .container {
    padding-left: 1.6em;
  }

  .gallery {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }

  .desktop-tag-list {
    display: block;
    overflow: scroll;
    max-height: 250px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .desktop-tag-list::-webkit-scrollbar { /* Chrome, Safari, Opera */
    display: none;
  }
  .tag-list {
    display: none;
  }

	ul.tags {
		display: initial;
	}

  .archive .row {
    padding: 1em;
  }
}
