<body>
  <div class="container">

    <div class="row">
      <div class="three columns">
        <div class="title">len.to</div>
      </div>
    </div>

    {{ $paginator := .Paginate (where .Data.Pages "Type" "in" "posts") }}
    {{ range (.Paginator 1).Pages }}
      <div class="row">

        <div class="three columns left-side">
          {{ dateFormat "Monday, Jan 2, 2006" .Date }}
        </div>

        <div class="seven columns right-side">
          {{ .Content }}

          <div class="pagination u-pull-right">
            {{ if $paginator.HasPrev }}
              <a class="pagination-item" href="{{ $paginator.Prev.URL }}">back</a>
            {{ end }}

            {{ if $paginator.HasNext }}
              <a class="pagination-item" href="{{ $paginator.Next.URL }}">next</a>
            {{ end }}
          </div>

        </div>

        <div class="two columns right-side"></div>

      </div>
    {{ end }}

  </div>
</body>
