<div class="container">

  <div class="row">
    <div class="three columns">
      <a class="title" href="/">len.to</a>
    </div>
  </div>

  {{ $paginator := .Paginate (where .Data.Pages "Type" "in" "posts") }}
  {{ range (.Paginator 1).Pages }}
    <div class="row">

      <div class="three columns left-side">
        <a class="permalink" href="{{ .Permalink }}">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</a>
      </div>

      <div class="nine columns right-side">
        {{ .Content }}

        <div class="pagination u-pull-right">
          {{ if $paginator.HasNext }}
            {{ if $paginator.HasPrev }}
              <a id="pagination-prev" class="pagination-item" href="{{ $paginator.Prev.URL }}">back</a>
            {{ end }}
            <a id="pagination-next" class="pagination-item" href="{{ $paginator.Next.URL }}">next</a>
          {{ else }}
            fin
          {{ end }}
        </div>

      </div>


    </div>
  {{ end }}

</div>
