<footer>
</footer>
<script>
(function(){

  var paginator = {
    next: function() {
      var button = document.getElementById("pagination-next");
      if (!button) {
        return;
      }

      button.click();
    },
    prev: function() {
      var button = document.getElementById("pagination-prev");
      if (!button) {
        return;
      }

      button.click();
    }
  };


  document.addEventListener("keydown", function(e) {
    switch(e.which) {
      case 32: // space
        paginator.next();
        e.preventDefault();
        break;

      case 37: // left
        paginator.prev();
        e.preventDefault();
        break;

      case 39: // right
        paginator.next();
        e.preventDefault();
        break;

      case 38: // up
        break;

      case 40: // down
        break;

      case 65: // a
        window.location = '/archive';
        break;

      case 72: // h
        window.location = '/';
        break;

      case 74: // j
        window.scrollBy(0,50);
        e.preventDefault();
        break;

      case 75: // k
        window.scrollBy(0,-50);
        e.preventDefault();
        break;

      case 82: // r
        window.location = '/random';
        break;

      case 84: // t
        window.location = '/tags';
        break;
    }
  }, false);

  // Tag list: show more
  document.getElementById('show-more').addEventListener('click', function(e) {
    e.preventDefault();
    this.classList.toggle("hidden");

    var hiddenTags = document.querySelectorAll(".tag");
    for (var i=0; i < hiddenTags.length; i++) {
      hiddenTags[i].classList.toggle("hidden");
    }
  });
})()

</script>
