<script>
(function(){

  var paginator = {
    next: function() {
      var button = document.getElementById("pagination-next");
      if (!button) {
        return;
      }

      button.click();
    },
    prev: function() {
      var button = document.getElementById("pagination-prev");
      if (!button) {
        return;
      }

      button.click();
    }
  };


  document.addEventListener("keydown", function(e) {
    switch(e.which) {
      case 37:
        // left
        paginator.prev();
        e.preventDefault();
        break;

      case 39:
        // right
        paginator.next();
        e.preventDefault();
        break;

      // up
      case 38:
        break;
      // down
      case 40:
        break;
    }
  }, false);
})()
</script>
