<title>len.to</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robot" content="noimageindex">
<meta name="description" content="len.to is a photography blog">
<meta property="og:description" content="len.to is a photography blog">
<meta property="og:site_name" content="len.to">

<link rel="icon" href="/favicon.svg">
{{ $skeleton := resources.Get "css/skeleton.css" }}
{{ $style := resources.Get "css/main.css" }}
{{ $css := slice $skeleton $style | resources.Concat "css/bundle.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
