<title>len.to</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robot" content="noimageindex">
<meta name="description" content="len.to is a photography blog">

<meta property="og:description" content="len.to is a photography blog">
<meta property="og:site_name" content="len.to">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
