<script>
(function(){
  // Insert search into the page, below the title
  let el = document.createElement("div");
  el.setAttribute("id", "search");
  let title = document.getElementsByClassName("title")[0];
  if (title) {
    title.parentElement.appendChild(el);
  }

  let tags = [{{ range $name, $taxonomy := $.Site.Taxonomies.tags }}{{ $name }},{{ end }}];
  let search = {
    enabled: false,
    accuracy: 0.8,
    val: "",
    el: document.getElementById("search"),

    enable: function() {
      this.enabled = true;
      this.el.classList.remove("hidden");
    },
    disable: function() {
      this.enabled = false;
      this.val = "";
      this.el.innerHTML = "";
      this.el.classList.add("hidden");
    },
    append: function(s) {
      this.val += s.toLowerCase();
    },
    clear: function() {
      this.val = "";
    },
    del: function() {
      this.val = this.val.slice(0, -1);
    },
    setResults: function() {
      let html = "";
      tags.filter((tag) => fuzzy(tag, this.val, this.accuracy)).forEach((tag) => {
        // Wrap each matching tag letter in a span
        let displayTag = "";
        for (let t=0; t < tag.length; t++) {
          let tagLetter = tag[t],
              match = false;
          for (let v=0; v < this.val.length; v++) {
            let queryLetter = this.val[v];
            if (tagLetter === queryLetter) {
              match = true;
            }
          }
          if (match) {
            displayTag += '<span class="highlight">' + tagLetter + '</span>';
          } else {
            displayTag += tagLetter;
          }
        }
        html += '<a href="/tags/' + tag + '"><div>' + displayTag + '</div></a>'
      });
      this.el.innerHTML = html;
    },

    bestMatch: function() {
      let matches = tags.filter((tag) => fuzzy(tag, this.val, this.accuracy));
      return matches.length ? matches[0] : undefined;
    }
  }

  function fuzzy(string, term, ratio) {
    string = string.toLowerCase();
    let compare = term.toLowerCase();
    let matches = 0;
    if (string.indexOf(compare) > -1) return true; // covers basic partial matches
    for (let i = 0; i < compare.length; i++) {
      string.indexOf(compare[i]) > -1 ? matches += 1 : matches -=1;
    }
    return (matches/string.length >= ratio || term == "")
  }

  document.addEventListener("keydown", (e) => {
    switch(e.which) {
      case 8: // backspace
        e.preventDefault();
        if (search.enabled) {
          search.del();
          search.setResults();
        }
        break;

      case 27: // esc
        search.disable();
        console.log("searchEnabled: ", search.enabled);
        break;

      case 82: // r: random 
        if (!search.enabled) {
          window.location = "/random";
        } else {
          search.append(String.fromCharCode(e.keyCode));
          search.setResults();
        }
        break;

      case 83: // s: enable search
        if (!search.enabled) {
          search.enable();
          search.setResults();
          console.log("searchEnabled: ", search.enabled);
          return;
        }
        search.append(String.fromCharCode(e.keyCode));
        break;

      case 13: // enter: submit
        if (!search.enabled) {
          return;
        }

        let match = search.bestMatch();
        if (match) {
          window.location = "/tags/" + match;
        }
        break;

      default:
        search.append(String.fromCharCode(e.keyCode));
        search.setResults();
    }
  }, false);
})()
</script>
