<script>
(function(){
  var tags = [{{ range $name, $taxonomy := . }}{{ $name }},{{ end }}];
  var search = {
    enabled: false,
    accuracy: 0.8,
    val: "",
    el: document.getElementById("search"),

    enable: function() {
      this.enabled = true;
      this.el.classList.remove("hidden");
    },
    disable: function() {
      this.enabled = false;
      this.val = "";
      this.el.innerHTML = "";
      this.el.classList.add("hidden");
    },

    append: function(s) {
      this.val += s.toLowerCase();
    },
    clear: function() {
      this.val = "";
    },
    del: function() {
      this.val = this.val.slice(0, -1);
    },
    setResults: function() {
      var val = this.val;
      var html = "";
      tags.filter(function(tag) {
        return fuzzy(tag, val, this.accuracy)
      }).forEach(function(tag) {
        // wrap each matching letter in the tag in a span
        var displayTag = "";
        for (var t=0; t < tag.length; t++) {
          var tagLetter = tag[t];
          var match = false;
          for (var v=0; v < val.length; v++) {
            var queryLetter = val[v];
            if (tagLetter === queryLetter) {
              match = true;
            }
          }
          if (match) {
            displayTag += '<span class="highlight">' + tagLetter + '</span>';
          } else {
            displayTag += tagLetter;
          }
        }
        html += '<a href="/tags/' + tag + '"><div>' + displayTag + '</div></a>'
      });
      this.el.innerHTML = html;
    },

    bestMatch: function() {
      var val = this.val;
      var results = tags.filter(function(tag) {
        return fuzzy(tag, val, this.accuracy)
      });

      return results.length ? results[0] : undefined;
    }
  }

  function fuzzy(string, term, ratio) {
      var string = string.toLowerCase();
      var compare = term.toLowerCase();
      var matches = 0;
      if (string.indexOf(compare) > -1) return true; // covers basic partial matches
      for (var i = 0; i < compare.length; i++) {
              string.indexOf(compare[i]) > -1 ? matches += 1 : matches -=1;
          }
          return (matches/string.length >= ratio || term == "")
  }

  document.addEventListener("keydown", function(e) {
    switch(e.which) {
      case 8: // backspace
        e.preventDefault();
        if (search.enabled) {
          search.del();
          search.setResults();
        }
        break;

      case 27: // esc
        search.disable();
        console.log("searchEnabled: ", search.enabled);
        break;

      case 83: // s: enable search
        if (!search.enabled) {
          search.enable();
          search.setResults();
          console.log("searchEnabled: ", search.enabled);
          return;
        }
        search.append(String.fromCharCode(e.keyCode));
        break;

      case 13: // enter: submit
        if (!search.enabled) {
          return;
        }

        var dest = search.bestMatch();
        if (dest) {
          window.location = "/tags/" + dest;
        }
        break;

      default:
        search.append(String.fromCharCode(e.keyCode));
        search.setResults();
    }
  }, false);
})()
</script>
