{{ partial "default_head.html" . }}

<!-- Space delimited list of page types -->
{{ $paginator := .Paginate (where .Data.Pages "Type" "in" "post") }}



<div class="posts">
  {{ range (.Paginator 1).Pages }}
    <div class="post">
        {{ .Content }}

        <div class="bottom">
          <a class="permalink" href="{{ .Permalink }}">permalink</a>
        </div>
    </div>
  {{ end }}
</div>

<div class="pagination">

    {{ if $paginator.HasNext }}
    <a class="pagination-item older" href="{{ $paginator.Next.URL }}">next</a>
    {{ else }}
    <span class="pagination-item older">next</span>
    {{ end }}

    {{ if $paginator.HasPrev }}
    <a class="pagination-item newer" href="{{ $paginator.Prev.URL }}">prev</a>
    {{ else }}
    <span class="pagination-item newer">prev</span>
    {{ end }}

</div>

{{ partial "default_foot.html" . }}
