<!DOCTYPE HTML>
<html>
  <head>
    {{ partial "header.html" . }}
  </head>
  <body>

    <div class="container">

      <div class="row">
        <div class="three columns title">
          <span>
            <a id="home" href="/">len.to</a>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="three columns left-side">
          {{ partial "nav.html"}}
          {{ partial "tag-list.html"}}
        </div>
        <div class="nine columns right-side">
          {{ $.Scratch.Set "count" 1 }}

            {{ range (.Site.RegularPages.GroupByDate "2006") }}
              {{ if (gt .Key 2000) }}

                {{ range (where .Pages "Type" "img") }}
                  {{ if (eq ($.Scratch.Get "count") 1) }}
                    {{ $.Scratch.Set "count" 0 }}
                    <div class="year">{{ .Date.Format "2006" }}</div>
                  {{ end }}
                {{ end }}

                {{ $.Scratch.Set "count" 1 }}
                <div class="archive">
                {{ range (where .Pages "Type" "img") }}
                  <div class="row">

                    <a href="{{ .Permalink }}">
                      <div class="three columns left-side">
                        <div class="date">{{ .Date.Format "January 02, 2006" }}</div>
                      </div>
                    </a>

                    <div class="nine columns right-side post-tags">
                      <div class="post-tags">
                        {{ if .Params.Tags }}
                          {{ range $key, $tag := .Params.Tags }}
                            {{- if ne $key 0 }}, {{ end }}
                            <a href="/tags/{{ $tag | urlize }}">
                              <span>{{ $tag | lower }}</span>
                            </a>
                          {{ end }}
                        {{ end }}
                      </div>
                    </div>

                  </div>
                {{ end }}
                </div>
            {{ end }}

          {{ end }}
        </div>
      </div>

    </div>

    {{ partial "scripts.html" . }}
  </body>
</html>


