<!DOCTYPE HTML>
<html>
  <head>
    {{ partial "header.html" . }}
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="three columns">
          <a class="title" href="/">len.to</a>
        </div>
      </div>

      <div class="row">
        <div class="three columns left-side">
          {{ partial "nav.html" }}
          {{ partial "tag-list.html" }}
        </div>
        <div class="nine columns right-side">
          <div class="gallery">
            {{ range  .Paginator.Pages }}
              {{ partial "img.html" . }}
            {{ end }}
          </div>
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
